- var V = process.env.V || Date.now();
- var tags = public.share._data['default']
- var config = cfg[(environment === 'production') ? 'production' : 'development']

- var STATICURL = config.staticurl
//!= partial("_debug")
doctype
html
  head
    meta(charset='utf-8')
    script.
      var ENV = !{JSON.stringify(environment)}; // В каком окружении работает сайт [development|production]
      var CONFIG = !{JSON.stringify(config)}; // Настройки сайта для данного окружения

      var DATA = !{JSON.stringify(public._data)}; // Данные сайта 

      var BASEURL=!{JSON.stringify(config.baseurl)}; // Адрес по которому доступна главная страница
      var APIURL=!{JSON.stringify(config.apiurl)}; // Адрес по которому доступен php
      var STATICURL = !{JSON.stringify(config.staticurl)}; // Адрес или префикс где лежит статика

      var V = !{JSON.stringify(V)}; // Версия скомпилированного сайта

    script(src=STATICURL+'/build/vendor.js?v='+V)
    link( href=STATICURL+"/build/vendor.css?v="+V rel="stylesheet")

    script(src=STATICURL+'/build/blocks.js?v='+V)
    link( href=STATICURL+"/build/blocks.css?v="+V rel="stylesheet")

    script(src=STATICURL+'/javascripts/application.js?v='+V)
    link( href=STATICURL+"/build/main.css?v="+V rel="stylesheet")

  body
    div(ng-app='app')
    != yield
    != partial("_instantclick")
    != partial("_footer")
